{{#paper-toolbar}}
<div class="md-toolbar-tools">
  <h2>
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    Home
  </h2>
</div>
{{/paper-toolbar}}

{{#paper-content}}
    <div class="container">
      <div class="home-card">
      {{#paper-card}}
        {{#paper-toolbar}}
          <div class="md-toolbar-tools">
            <h2 flex=true>
              Lorem Ipsum
            </h2>
            {{#paper-button classNames="md-icon-button"}}
              {{paper-icon icon="add"}}
            {{/paper-button}}
          </div>
        {{/paper-toolbar}}
        {{#paper-card-content}}
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet
          </p>
        {{/paper-card-content}}
      {{/paper-card}}
      </div>

      <div class="home-card">
      {{#paper-card}}
        {{#paper-toolbar}}
          <div class="md-toolbar-tools">
            <h2 flex=true>
              Cicero
            </h2>
            {{#paper-button classNames="md-icon-button"}}
              {{paper-icon icon="add"}}
            {{/paper-button}}
          </div>
        {{/paper-toolbar}}
        {{#paper-card-content}}
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
          </p>
        {{/paper-card-content}}
      {{/paper-card}}
      </div>


      <div class="home-card">
      {{#paper-card}}
        {{#paper-toolbar}}
          <div class="md-toolbar-tools">
            <h2 flex=true>
              Cicero English
            </h2>
            {{#paper-button classNames="md-icon-button"}}
              {{paper-icon icon="add"}}
            {{/paper-button}}
          </div>
        {{/paper-toolbar}}
        {{#paper-card-content}}
          <p>
            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
          </p>
        {{/paper-card-content}}
      {{/paper-card}}
      </div>

      <div class="home-card">
      {{#paper-card}}
        {{#paper-toolbar}}
          <div class="md-toolbar-tools">
            <h2 flex=true>
              Li Europan Lingues
            </h2>
            {{#paper-button classNames="md-icon-button"}}
              {{paper-icon icon="add"}}
            {{/paper-button}}
          </div>
        {{/paper-toolbar}}
        {{#paper-card-content}}
          <p>
            Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.
          </p>
        {{/paper-card-content}}
      {{/paper-card}}
      </div>

      <div class="home-card">
      {{#paper-card}}
        {{#paper-toolbar}}
          <div class="md-toolbar-tools">
            <h2 flex=true>
              Werther
            </h2>
            {{#paper-button classNames="md-icon-button"}}
              {{paper-icon icon="add"}}
            {{/paper-button}}
          </div>
        {{/paper-toolbar}}
      {{#paper-card-content}}
        <p>
          A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.
        </p>
      {{/paper-card-content}}
      {{/paper-card}}
      </div>

      <div class="home-card">
      {{#paper-card}}
        {{#paper-toolbar}}
          <div class="md-toolbar-tools">
            <h2 flex=true>
              Quis Nostrum Exercitationem
            </h2>
            {{#paper-button classNames="md-icon-button"}}
              {{paper-icon icon="add"}}
            {{/paper-button}}
          </div>
        {{/paper-toolbar}}
      {{#paper-card-content}}
        <p>
          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?         
        </p>
      {{/paper-card-content}}
      {{/paper-card}}
      </div>

      <div class="home-card">
      {{#paper-card}}
       {{#paper-toolbar}}
          <div class="md-toolbar-tools">
            <h2 flex=true>
              Quis Nostrum Exercitationem
            </h2>
            {{#paper-button classNames="md-icon-button"}}
              {{paper-icon icon="add"}}
            {{/paper-button}}
          </div>
        {{/paper-toolbar}}
      {{#paper-card-content}}
        <p>
          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?         
        </p>
      {{/paper-card-content}}
      {{/paper-card}}
      </div>
  </div>
{{/paper-content}}
